!!! 5
%html
  %head
    %title Rotten Potatoes! a.k.a. Papas Pudridas
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #notice.message= flash[:warning]
    = yield
